@import "../../../styles/_media.scss";

.loading {
  display: flex;
  justify-content: center;
  align-items: center;

  div {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      font-size: 3rem;
    }
  }
}

.menu-section {
  padding-top: 5rem;
  width: 100%;
  position: relative;

  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .img {
      position: fixed;
      width: 280px;
      user-select: none;
      z-index: 2;

      @include x {
        display: none;
      }
    }

    &__img-left {
      height: 300px;
      left: 0;
    }

    &__img-right {
      height: 400px;
      right: 0;
    }

    &__title {
      font-size: 4rem;
      padding-bottom: 3rem;
      display: flex;
      width: 560px;

      @include m {
        width: 70%;
      }

      p {
        border-bottom: 2px solid rgba(0, 0, 0, 0.3);
        padding-bottom: 1rem;
      }
    }

    .card__wrapper {
      display: grid;
      width: 90vw;
      justify-content: center;
      gap: 3rem;
      grid-template-columns: repeat(auto-fit, minmax(390px, 400px));
    }
  }
}
