@import "../../../styles/_media.scss";

%arrow-shared {
  font-size: 80px;
  color: #45525b;
  cursor: pointer;
  user-select: none;
  opacity: 0.8;

  &:hover {
    color: #dc780b;
    transition: 0.4s;
  }
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;

  &__arr {
    @extend %arrow-shared;
  }
  .slide__wrapper {
    width: 550px;
    height: 100%;
    display: flex;
    align-items: center;

    @include m {
      width: 100%;
    }

    .slide {
      height: 100%;
      &__content {
        height: max-content;
        display: flex;
        gap: 1rem;
        flex-direction: column;
        align-items: center;
        font-size: 1.5rem;

        &__wrapper {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          img {
            width: 150px;
            height: 150px;
            border-radius: 50%;
          }

          &__name {
            font-weight: bold;
            border-bottom: 2px solid #dc780b;
            padding: 0 20px;
          }
        }

        &__text {
          max-width: 70%;
          text-align: center;
        }
      }
    }
  }
}
